/* Used as focus color on background */
$primary:       $primary !default;
/* Used as alternate color */
$accent:        $accent !default;
/* Used as contrast color */
$secondary:     $secondary !default;
/* Used for hyperlinks */
$tertiary: $tertiary !default;
